@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fa;
  --foreground: #101828;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}
